.main{
    margin: auto;
    width: 600px;
    height: 200px;
    border: 3px solid paleturquoise;
    position: relative;
}
.box{
    margin-top: 80px;
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: rgb(4, 1, 7);
    animation: box 5s infinite;
    animation-timing-function: ease-in;

}

@keyframes box{
    from{
        left: 0px;
    
    }
    to{
       left: 560px;
    }
}